body {
  margin: 0;
  position: relative;
  font-family: "Epilogue", sans-serif;
  font-size: 18px;
  height: 100vh;
  width: 100%;
  background-color: hsl(0deg, 0%, 98%);
  color: hsl(0deg, 0%, 8%);
}

.nav {
  position: relative;
  padding: 3% 3%;
  display: flex;
  justify-content: flex-start;
  width: 94%;
  align-items: center;
  column-gap: 65px;
  font-size: 16px;
}
.nav .logo {
  height: 20px;
}
.nav .nav-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}
@media all and (max-width: 800px) {
  .nav .nav-container {
    z-index: 1;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 25px;
    width: 240px;
    height: 100vh;
    padding-top: 60px;
    padding-left: 25px;
    background: white;
  }
}
.nav .menu-btn-wrapper {
  position: absolute;
  right: 20px;
  top: 20px;
  display: none;
  z-index: 999;
}
.nav .menu-btn-wrapper:hover {
  cursor: pointer;
}
@media all and (max-width: 800px) {
  .nav .menu-btn-wrapper {
    display: block;
  }
}
.nav .navbar-nav {
  display: flex;
  list-style-type: none;
  margin: 0;
  column-gap: 30px;
  padding: 0;
  width: 30vw;
  justify-content: space-between;
}
@media all and (max-width: 800px) {
  .nav .navbar-nav {
    flex-direction: column;
    row-gap: 18px;
  }
}
.nav .navbar-nav a {
  text-decoration: none;
  color: hsl(0deg, 0%, 41%);
}
.nav .navbar-nav__item {
  display: inline;
  font-weight: 500;
}
@media all and (max-width: 800px) {
  .nav .login {
    width: calc(100% - 26px);
  }
}
.nav .login-menu {
  margin: 0;
  display: flex;
  align-items: baseline;
  list-style-type: none;
  padding: 0;
  justify-content: space-between;
  column-gap: 40px;
}
@media all and (max-width: 800px) {
  .nav .login-menu {
    flex-direction: column;
    row-gap: 18px;
    width: 100%;
  }
  .nav .login-menu__item {
    width: 100%;
  }
}

.btn {
  border-radius: 15px;
  background-color: white;
  font-size: 16px;
  font-weight: 700;
}
.btn:hover {
  cursor: pointer;
}
.btn--login {
  border: none;
  color: hsl(0deg, 0%, 41%);
}
@media all and (max-width: 800px) {
  .btn--login {
    width: 100%;
  }
}
.btn--register {
  border-color: hsl(0deg, 0%, 41%);
  color: hsl(0deg, 0%, 41%);
  width: 105px;
  height: 40px;
}
@media all and (max-width: 800px) {
  .btn--register {
    width: 100%;
  }
}
.btn--more {
  background-color: hsl(0deg, 0%, 8%);
  color: white;
  width: 170px;
  height: 55px;
  padding: 0;
  font-size: 18px;
  transition: all 500ms;
}
.btn--more:hover {
  background-color: white;
  color: hsl(0deg, 0%, 8%);
}

.container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  column-gap: 50px;
  row-gap: 50px;
}
.container--header {
  width: 100%;
  column-gap: 150px;
}
.container--vertical {
  flex-direction: column;
  justify-content: flex-start;
  width: 40%;
}
.container--image {
  position: relative;
  width: 60%;
  display: flex;
}
.container--image .image-wrapper {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.container--image .image-wrapper img {
  position: relative;
  width: max-content;
  height: 100%;
  object-fit: contain;
}
.container--logo {
  margin-top: auto;
  height: fit-content;
  justify-content: flex-start;
  column-gap: 40px;
}
.container--logo .image-wrapper {
  position: relative;
  width: 115px;
  height: 25px;
}
.container--logo .image-wrapper img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

header {
  height: 75vh;
  margin: 0 9% 0 12%;
  margin-top: 6vh;
}
header .main-title {
  font-size: 69px;
  font-weight: 700;
  margin: 0;
  margin-top: 12vh;
}
header .description {
  margin: 0;
  font-size: 18px;
  color: hsl(0deg, 0%, 41%);
  line-height: 1.5;
}

.attribution {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.dropdown {
  position: relative;
}

.dropdown-btn {
  display: inline-flex;
  justify-content: space-around;
  column-gap: 8px;
}
.dropdown-btn .icon {
  display: inline;
  align-self: center;
  transform: rotateX(180deg);
  transition: transform 600ms;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 20px;
  left: 0;
  list-style-type: none;
  flex-direction: column;
  justify-content: space-around;
  width: max-content;
  padding: 20px 20px;
  row-gap: 20px;
  background-color: white;
  box-shadow: 10px 5px 16px -10px black;
  border-radius: 15px;
}
.dropdown-content__item {
  font-size: 14px;
}
.dropdown-content__item .icon {
  margin-right: 15px;
}

.expanded .dropdown-content {
  display: flex;
}
@media all and (max-width: 800px) {
  .expanded .dropdown-content {
    position: relative;
  }
}
.expanded .dropdown-btn .icon {
  transform: rotateX(0deg);
}

.hide {
  display: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228deg, 45%, 44%);
}

/*# sourceMappingURL=styles.css.map */
