.hide {
  display: none;
}

.nav {
  position: relative;
  display: flex;
  justify-content: flex-start;
  width: 94%;
  padding: 3% 3%;
  align-items: center;
  column-gap: 65px;
  font-size: 16px;
}
@media all and (max-width: 800px) {
  .nav {
    margin-bottom: 25px;
  }
}
.nav .logo {
  height: 20px;
}
.nav .nav-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}
@media all and (max-width: 800px) {
  .nav .nav-container {
    display: none;
    position: absolute;
    flex-direction: column;
    justify-content: flex-start;
    width: 240px;
    height: 100vh;
    padding-top: 60px;
    padding-left: 25px;
    top: 0;
    right: 0;
    row-gap: 25px;
    background: white;
    z-index: 1;
    transform: scaleX(0);
    transform-origin: 100% 50%;
    animation: open-menu 500ms forwards;
  }
}
.nav .menu-btn-wrapper {
  display: none;
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 999;
}
.nav .menu-btn-wrapper:hover {
  cursor: pointer;
}
@media all and (max-width: 800px) {
  .nav .menu-btn-wrapper {
    display: block;
  }
}
.nav .navbar-nav {
  display: flex;
  justify-content: space-between;
  width: 30vw;
  margin: 0;
  padding: 0;
  column-gap: 30px;
}
@media all and (max-width: 800px) {
  .nav .navbar-nav {
    flex-direction: column;
    row-gap: 18px;
  }
}
.nav .navbar-nav a {
  text-decoration: none;
  color: hsl(0deg, 0%, 41%);
}
.nav .navbar-nav__item {
  display: inline;
  font-weight: 500;
}
@media all and (max-width: 800px) {
  .nav .login {
    width: calc(100% - 26px);
  }
}
.nav .login-menu {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  column-gap: 40px;
}
@media all and (max-width: 800px) {
  .nav .login-menu {
    flex-direction: column;
    row-gap: 18px;
    width: 100%;
  }
  .nav .login-menu__item {
    width: 100%;
  }
}

@keyframes open-menu {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
.btn {
  font-size: 16px;
  font-weight: 700;
  border-radius: 15px;
  background-color: white;
}
.btn:hover {
  cursor: pointer;
}
.btn--login {
  border: none;
  color: hsl(0deg, 0%, 41%);
}
@media all and (max-width: 800px) {
  .btn--login {
    width: 100%;
  }
}
.btn--register {
  width: 105px;
  height: 40px;
  border-color: hsl(0deg, 0%, 41%);
  color: hsl(0deg, 0%, 41%);
}
@media all and (max-width: 800px) {
  .btn--register {
    width: 100%;
  }
}
.btn--more {
  width: 170px;
  height: 55px;
  padding: 0;
  font-size: 18px;
  background-color: hsl(0deg, 0%, 8%);
  color: white;
  transition: all 500ms;
}
.btn--more:hover {
  background-color: white;
  color: hsl(0deg, 0%, 8%);
}

.dropdown-btn {
  display: inline-flex;
  justify-content: space-around;
  column-gap: 8px;
}
.dropdown-btn .icon {
  display: inline;
  align-self: center;
  transform: rotateX(180deg);
  transition: transform 600ms;
}

.container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  column-gap: 50px;
  row-gap: 50px;
}
@media all and (max-width: 800px) {
  .container {
    row-gap: 0;
  }
}
.container--header {
  width: 100%;
  column-gap: 5.5%;
}
@media all and (max-width: 800px) {
  .container--header {
    flex-direction: column-reverse;
    margin-top: 25px;
    height: max-content;
  }
}
.container--vertical {
  flex-direction: column;
  justify-content: flex-start;
  width: 40%;
  row-gap: 5.5%;
}
@media all and (max-width: 800px) {
  .container--vertical {
    width: 90%;
    height: 320px;
    padding: 0 5%;
    text-align: center;
  }
}
.container--image {
  position: relative;
  width: 60%;
  height: 100%;
}
@media all and (max-width: 800px) {
  .container--image {
    width: 100%;
  }
}
.container--image .image-wrapper {
  position: relative;
  width: 100%;
}
@media all and (max-width: 800px) {
  .container--image .image-wrapper {
    width: 100%;
    height: 300px;
  }
  .container--image .image-wrapper .image-desktop {
    display: none;
  }
}
.container--image .image-wrapper .image-mobile {
  display: none;
}
@media all and (max-width: 800px) {
  .container--image .image-wrapper .image-mobile {
    display: block;
  }
}
.container--image .image-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
@media all and (max-width: 800px) {
  .container--image .image-wrapper img {
    width: 100%;
  }
}
.container--logo {
  margin-top: auto;
  height: fit-content;
  justify-content: flex-start;
  column-gap: 40px;
}
@media all and (max-width: 800px) {
  .container--logo {
    margin-top: 45px;
    justify-content: space-around;
  }
}
.container--logo .image-wrapper {
  position: relative;
  width: 115px;
  height: 25px;
}
.container--logo .image-wrapper img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.header {
  height: 75vh;
  margin: 0 9% 0 12%;
}
@media all and (max-width: 800px) {
  .header {
    margin: 0;
    height: 700px;
  }
}
.header .main-title {
  font-size: 69px;
  font-weight: 700;
  margin: 0;
  margin-top: 12vh;
}
@media all and (max-width: 800px) {
  .header .main-title {
    font-size: 32px;
    margin-top: 35px;
  }
}
.header .description {
  margin: 0;
  font-size: 18px;
  color: hsl(0deg, 0%, 41%);
  line-height: 1.5;
}
@media all and (max-width: 800px) {
  .header .description {
    font-size: 16px;
    margin-top: 25px;
    margin-bottom: 25px;
  }
}

.attribution {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228deg, 45%, 44%);
}

.dropdown {
  position: relative;
}
.dropdown__item {
  font-size: 14px;
}
.dropdown__item .icon {
  margin-right: 15px;
}

.dropdown-content {
  position: absolute;
  flex-direction: column;
  justify-content: space-around;
  width: max-content;
  padding: 20px 20px;
  top: 20px;
  left: 0;
  row-gap: 20px;
  background-color: white;
  box-shadow: 10px 5px 16px -10px black;
  border-radius: 15px;
  transition: transform 500ms;
  transform: scaleY(0);
  transform-origin: top;
}
@media all and (max-width: 800px) {
  .dropdown-content {
    padding: 0;
    padding-bottom: 20px;
    padding-left: 20px;
    box-shadow: none;
  }
}

.dropdown-btn {
  display: inline-flex;
  justify-content: space-around;
  column-gap: 8px;
}
.dropdown-btn .icon {
  display: inline;
  align-self: center;
  transform: rotateX(180deg);
  transition: transform 600ms;
}

.expanded .dropdown-content {
  display: flex;
  transform: scaleY(1);
}
@media all and (max-width: 800px) {
  .expanded .dropdown-content {
    position: relative;
  }
}
.expanded .dropdown-btn .icon {
  transform: rotateX(0deg);
}

.shadow {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0;
  animation: shadow-appearance 500ms ease-in-out forwards;
}

@keyframes shadow-appearance {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.3;
  }
}
body {
  position: relative;
  font-family: "Epilogue", sans-serif;
  height: 100vh;
  width: 100%;
  margin: 0;
  font-size: 18px;
  background-color: hsl(0deg, 0%, 98%);
  color: hsl(0deg, 0%, 8%);
}

/*# sourceMappingURL=styles.css.map */
